.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text{
    text-align: center;
    width: 90%;
    line-height: 32px;
    color: white;
}

.count{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    column-gap: 30px;
}

.button{
    margin-top: 20px;
}

@media (max-width: 768px) {

    .about-text{
        text-align: justify;
        width: 90%;
    }
}